<link rel="stylesheet" type="text/css" href="navbar.css">


<body>

<div id = "nav" class="container-fluid">
  <div class="row">
    <div class="col-lg-1" style="">
<img src="csohs.jpeg" class="pull-left" alt="CSOHS logo" width="115" height="115">

    </div>

<div class="col-lg-11" style="">

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <h2> CAMARINES SCIENCE ORIENTED PRE-SCHOOL </h2>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
   
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    
      <form class="navbar-form navbar-right">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Parent">
        </div>

        <button type="submit" class="btn btn-default">Search </button>
        
         <span class="glyphicon glyphicon-plus" aria-hidden="true"><%= link_to ' NewParent', new_parent_path %>
      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</div>
  </div>
</div>
</body>

